@using Blazored.Toast.Services
@using FPLSP.Repositories.Interfaces
@using FPLSP.Repositories.Interfaces.CabinProject
@using FPLSP.Server.Data.SeedWork
@using FPLSP.Server.Infrastructure.ViewModels.CabinProject.Cabin
@using FPLSP.Server.Infrastructure.ViewModels.CabinProject.GroupCabin
@using Microsoft.AspNetCore.SignalR.Client
@inject IDialogService DialogService

@if (gcabin == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <EditForm Model="grcbVm">
    <h3>Nhóm chuyên ngành: <b><i>@nameSpec</i></b></h3>
    <div class="row">
        <input autocomplete="on" class="form-control ml-3" id="exampleFormControlInput1"
           @oninput="((ChangeEventArgs e)=>ChangedCabinName(e))" value="@bindtextCabin"
           list="txt" placeholder="Thêm nhanh Cabin" style="width:33%" />
        <div class="mb-3">
            <MudChipSet AllClosable="true" OnClose="Closed">
                <label for="exampleFormControlInput3" class="form-label px-lg-0">Cabin hiện có :</label>
                @foreach (var x in lstCabin)
                {
                    <MudChip Text="@x"></MudChip>
                }
            </MudChipSet>

        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <datalist id="txt">
            @if (cbvm1.Count != 0)
            {
                @foreach (var x in cbvm1.GroupBy(c => c.CabinName))
                {
                    @foreach (var z in x)
                    {
                        <option value="@z.CabinName"></option>
                        break;
                    }
                }
            }
        </datalist>
    </div>
    <div style="height: 377px;
    overflow-x: hidden;
    overflow-y: auto;">
        <div class="row mt-2">
            <div class="table-responsive ">
                <table class="table table-light table-bordered">
                    <thead>
                        <tr>
                            <th width="63%">
                                Cabin
                            </th>
@*                            <th width="10%">Ngày bắt đầu</th>
                            <th width="10%">Ngày kết thúc</th>*@
                            <th width="5%">
                                Trạng thái
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in gcabin)
                        {
                            <tr>
                                <td>
                                    @item.CabinName
                                </td>
                               @* <td>
                                    @item.StartTime.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                        <input type="date" @bind="@item.EndTime" @onchange="EventArgs => { UpdateEndTime(item.IdCabin,item.EndTime); } " @bind:event="oninput" />

                                    </td>*@

                                <td>
                                    @if (item.Checked == (bool)true)
                                    {
                                        <label class="toggle toggle-alternative">
                                            <input type="checkbox" id="checkboxB" class="checkbox" checked="checked" @onclick="()=> ChangeStatus(item.IdCabin,true)" />
                                            <span class="toggle-text"></span>
                                            <span class="toggle-handle"></span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="toggle toggle-alternative">
                                            <input type="checkbox" id="checkboxB" class="checkbox" @onclick="()=> ChangeStatus(item.IdCabin,false)" />
                                            <span class="toggle-text"></span>
                                            <span class="toggle-handle"></span>
                                        </label>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="d-flex justify-content-center mb-2">
                    <div class="row">
                        <div class="col-11 align-self-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mb-2">
        <div class="row">
            <div class="col-11 align-self-center">
                <Pagingation MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"></Pagingation>
            </div>
        </div>
    </div>
    </EditForm>
}
<Comfirmation ConfirmationMessage="Bạn muốn xóa không?"
              ConfirmationTitle="Xác nhận"
              ConfirmationChanged="OnConfirmationDelete " @ref="DeleteConfirmation"></Comfirmation>
<Add ConfirmationMessage="Bạn có muốn thêm cabin vào không? "
              ConfirmationTitle="Xác nhận"
              @ref="AddConfirmation"
              ConfirmationChanged="OnConfirmationAdd">

</Add>
@code {
    [Parameter] public string idSpec { get; set; }
    [Inject] public ICabinRepo cabinRepo { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }
    [Inject] public IGroupCabinRepo grcabinRepo { get; set; }
    [Inject] private ICabinRepo _CabinRepo { get; set; }
    [Inject] private ISpecializedUPRepo _specializedUPRepo { get; set; }
    [Inject] public IToastService ToastService { get; set; }

    List<GroupCabinViewModel> groupCabinViewModel = new List<GroupCabinViewModel>();
    GroupCabinSearchViewModel groupCabinSearchViewModel = new GroupCabinSearchViewModel();
    GroupCabinViewModel grcbVm = new GroupCabinViewModel();
    List<GroupCabinListVM> gcabin;
    [Parameter]
    public EventCallback<bool> ConfirmationChanged { get; set; }
    public MetaData MetaData { get; set; } = new MetaData();
    Guid idCabinDel;
    string idCabinDetails;
    GroupCabinCreateViewModel groupCabinCreateViewModel = new GroupCabinCreateViewModel();
    List<CabinViewModel> cbvm1 = new List<CabinViewModel>();
    List<CabinViewModel> cbvm = new List<CabinViewModel>();
    private string bindtextCabin;
    private string nameSpec;
    List<string> lstCabin = new List<string>();
    int count = 0;// dùng để đếm;
    protected Add AddConfirmation { set; get; }
    protected Comfirmation DeleteConfirmation { get; set; }
    protected override async Task OnInitializedAsync()
    {
        //try
        //{
        //    //Check thay đổi của BookingRequest
        //    string url = "http://localhost:5001/SignalRBookingRequestHub";
        //    HubConnection _connection = null;
        //    bool isConnected = false;
        //    string connectionStatus = "Closed";
        //    _connection = new HubConnectionBuilder()
        //        .WithUrl(url)
        //        .Build();

        //    await _connection.StartAsync();
        //    isConnected = true;
        //    connectionStatus = "Connected :-)";

        //    _connection.Closed += async (s) =>
        //    {
        //        isConnected = false;
        //        connectionStatus = "Disconnected";
        //        await _connection.StartAsync();
        //        isConnected = true;
        //    };

        //    _connection.On<string>("SignalRBookingRequests", async (res) =>
        //    {
        //        if (res == "Done")
        //        {
        //            await GetTask();

        //            await this.InvokeAsync(() => this.StateHasChanged());
        //        }


        //    });
        //}catch{

        //}finally{
          
        //}
        await GetTask();

    }
    private async Task GetId(Guid idCabin)
    {
        idCabinDetails = idCabin.ToString();
    }
    public async Task GetTask()
    {
        lstCabin = new List<string>();//Tạo mới list string để thêm các cabin name vào autocomplete
        cbvm1 = await cabinRepo.GetAllCabinAsync(); // Lấy ra tất cả các cabin
        cbvm1 = cbvm1.Where(x => x.Status != 1).ToList();
        var grcb = await grcabinRepo.GetAllGroupCabinAsync();// Lấy ra tất cả các group cabin theo chuyên ngành
        grcb = grcb.Where(x => x.IdSpec == Guid.Parse(idSpec)).ToList();
        foreach (var item in cbvm1)
        {
            foreach (var itemgc in grcb)
            {
                if (item.Id == itemgc.IdCabin && itemgc.Status != 1)
                {
                    lstCabin.Add(item.CabinName); // Nếu Cabin có ở trong group cabin và trạng thái == 0 thì sẽ thêm vào lstCabin để hiển thị trên MudChipSet
                }

            }

        }
        var getName = await _specializedUPRepo.GetByIdSpec(Guid.Parse(idSpec));
        nameSpec = getName.SpecializationName;
        var groupViewModel = await grcabinRepo.GetGroupCabinListSearch(groupCabinSearchViewModel);
        var cabinvm = await _CabinRepo.GetAllCabinAsync();
        cabinvm = cabinvm.Where(x => x.Status != 1).ToList();
        groupCabinViewModel = groupViewModel.Items.Where(x => x.IdSpec == Guid.Parse(idSpec)).ToList();

        MetaData = groupViewModel.MetaData;
        gcabin = (from a in cabinvm
                  join b in groupCabinViewModel
                  on a.Id equals b.IdCabin
                  select new GroupCabinListVM
                      {
                          IdCabin = a.Id,
                          CabinName = a.CabinName,
                          DateOfGrouping = b.DateOfGrouping,
                          StartTime = b.StartTime,
                          EndTime = b.EndTime,
                          Status = b.Status,
                      }).ToList();
        //Lấy ra groupCabinListVm để hiển thị lên form những thông tin cần thiết
        //Gán giá trị true false để cho nút switch trạng thái
        foreach (var item in gcabin)
        {
            if (item.Status == 0)
            {
                item.Checked = true;
            }
            else if (item.Status == 2)
            {
                item.Checked = false;
            }
        }
    }
    private async void ChangedCabinName(ChangeEventArgs args)
    {
        bindtextCabin = Convert.ToString(args.Value); // Nhận giá trị từ sự kiện nhập vào ở trên thẻ input complete
        var cabin = await _CabinRepo.GetAllCabinAsync();
        var cabincheck = cabin.FirstOrDefault(x => x.CabinName == bindtextCabin);// Tìm ra cabin theo tên để lấy ra ID phục vụ cho việc xóa
        if (cabincheck != null)
        {
            groupCabinCreateViewModel.IdCabin = cabincheck.Id;
            AddConfirmation.show();
            // Nếu xóa thành công sẽ clear form

        }

    }
    private async Task UpdateEndTime(Guid idCabin, DateTime date)
    {
        var GroupCabinUpdateViewModel = gcabin.FirstOrDefault(x => x.IdCabin == idCabin);
       
             GroupCabinUpdateViewModel groupCabinUpdate = new GroupCabinUpdateViewModel()
            {
                GroupCabinName = GroupCabinUpdateViewModel.CabinName,
                DateOfGrouping = GroupCabinUpdateViewModel.DateOfGrouping,
                StartTime = GroupCabinUpdateViewModel.StartTime,
                EndTime = date,
                IndexOfGroupCabin = GroupCabinUpdateViewModel.IndexOfGroupCabin,
                Status = 0

            };
        var check = await grcabinRepo.UpdateGroupCabin(Guid.Parse(idSpec), idCabin, groupCabinUpdate);  
    }

    private async Task ChangeStatus(Guid idCabin, bool? Checked)
    {

        var GroupCabinUpdateViewModel = gcabin.FirstOrDefault(x => x.IdCabin == idCabin);
        if (GroupCabinUpdateViewModel != null)
        {
            if ((bool)Checked)
            {
                GroupCabinUpdateViewModel groupCabinUpdate = new GroupCabinUpdateViewModel()
                    {
                        GroupCabinName = GroupCabinUpdateViewModel.CabinName,
                        DateOfGrouping = GroupCabinUpdateViewModel.DateOfGrouping,
                        StartTime = GroupCabinUpdateViewModel.StartTime,
                        EndTime = GroupCabinUpdateViewModel.EndTime,
                        IndexOfGroupCabin = GroupCabinUpdateViewModel.IndexOfGroupCabin,
                        Status = 2

                    };
                var check = await grcabinRepo.UpdateGroupCabin(Guid.Parse(idSpec), idCabin, groupCabinUpdate);
                if (check)
                {
                    ToastService.ShowSuccess("Thay đổi trạng thái thành công");
                    await GetTask();
                }
            }
            else
            {
                GroupCabinUpdateViewModel groupCabinUpdate = new GroupCabinUpdateViewModel()
                    {
                        GroupCabinName = GroupCabinUpdateViewModel.CabinName,
                        DateOfGrouping = GroupCabinUpdateViewModel.DateOfGrouping,
                        StartTime = GroupCabinUpdateViewModel.StartTime,
                        EndTime = GroupCabinUpdateViewModel.EndTime,
                        IndexOfGroupCabin = GroupCabinUpdateViewModel.IndexOfGroupCabin,
                        Status = 0

                    };
                var check = await grcabinRepo.UpdateGroupCabin(Guid.Parse(idSpec), idCabin, groupCabinUpdate);
                if (check)
                {
                    ToastService.ShowSuccess("Thay đổi trạng thái thành công");
                    await GetTask();
                }
            }

        }


    }
    protected async Task OnConfirmationAdd(bool value)
    {
        if (value)
        {
            await Add();
        }
    }
    private async Task Add()
    {
        if (groupCabinCreateViewModel.IdCabin.ToString() == "00000000-0000-0000-0000-000000000000")
        {


            return;
        }
        //Check xem cabin đã có trong chuyên ngành chưa
        var cbcheck = gcabin.Where(x => x.IdCabin == groupCabinCreateViewModel.IdCabin).Count();
        if (cbcheck == 1)
        {
            ToastService.ShowError("Đã tồn tại Cabin");
            return;
        }
        var cb = await cabinRepo.GetCabinListById(groupCabinCreateViewModel.IdCabin.ToString());
        groupCabinCreateViewModel.GroupCabinName = cb.CabinName;
        groupCabinCreateViewModel.IdSpec = Guid.Parse(idSpec);
        groupCabinCreateViewModel.IndexOfGroupCabin = 0;
        groupCabinCreateViewModel.Status = 0;
        var check = await grcabinRepo.CreateGroupCabin(groupCabinCreateViewModel);
        var check2 = await grcabinRepo.ChangeStatus(idSpec, groupCabinCreateViewModel.IdCabin.ToString());
        if (!check2)
        {

            if (check)
            {
                bindtextCabin = null;
                ToastService.ShowSuccess("Thêm thành công");
                await GetTask();
            }
            else
            {

                ToastService.ShowError("Thêm thất bại");
            }
        }
        else
        {

            bindtextCabin = null;
            ToastService.ShowSuccess("Thêm thành công");
            await GetTask();
        }

    }
    private async Task SelectedPage(int page)
    {
        groupCabinSearchViewModel.PageNumber = page;
        await GetTask();
    }
    private async Task Delete(string CabinName)
    {
        var cabin = await _CabinRepo.GetAllCabinAsync();
        var cabincheck = cabin.FirstOrDefault(x => x.CabinName == CabinName);
        if (cabincheck != null)
        {
            groupCabinCreateViewModel.IdCabin = cabincheck.Id;
            idCabinDel = cabincheck.Id;
            DeleteConfirmation.show();
        }
    }

    private async Task OnConfirmationDelete(bool deleteconfirmed)
    {
        if (deleteconfirmed)
        {
            var check = await grcabinRepo.DeleteGroupCabin(Guid.Parse(idSpec), idCabinDel);
            if (check)
            {
                count++;

                await GetTask();
                ToastService.ShowSuccess("Xóa thành công");
            }
            else
            {
                ToastService.ShowError("Xóa thất bại");
            }
        }
    }
    public async void Closed(MudChip chip)
    {
        await Delete(chip.Text);
        if (count != 0)
        {
            lstCabin.Remove(chip.Text);
        }

    }
}
