@page "/detailspecializedhep/{idbo}/{id}"
@using FPLSP.Repositories.Interfaces
@using FPLSP.Server.Domain.Dtos
@attribute [Authorize(Roles = "AdminCore,AdminCS")]
@if (model != null)
{
    <div class="row pt-1">
        <label for="name" class=" col-md-6 col-form-label">Đường Link: <b>@model.SpecializedCode</b></label>
    </div>
    <div class="row pt-1">
        <label for="name" class=" col-md-col-md-6 col-form-label">Mô tả: <b>@model.SpecializationName</b></label>
    </div>
    <div class="row pt-1">
        <label for="name" class=" col-md-col-md-6 col-form-label">
            Trạng thái :
            @if (@model.Status == 0)
            {
                <b>
                    Chưa đủ sinh viên
                </b>
            }
            else if (@model.Status == 1)
            {
                <b>
                    Chờ đi vào hoạt động
                </b>
            }
            else if (@model.Status == 2)
            {
                <b>
                    Ngưng hoạt động
                </b>
            }
            else
            {
                <b>
                    Đang hoạt động
                </b>
            }
        </label>
    </div>

    <div class="row pt-2 col-md-1 text-center">
        <a @onclick="() => Quaylai()" class="btn btn-outline-danger">Quay Lại</a>
    </div>

}

@code {
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public string Idbo { get; set; }
    private SpecializedDto model;
    [Inject]
    public NavigationManager Navigation { get; set; }
    [Inject]
    public ISpecializedCPRepo _iSpecializedClient { get; set; }
    protected override async Task OnInitializedAsync()
    {
        model = await _iSpecializedClient.GetbyId(Guid.Parse(Idbo), Guid.Parse(Id));
    }
    private async Task Quaylai()
    {
        var url = Path.Combine("/specializedhep", Idbo);
        Navigation.NavigateTo(url);
    }}