@page "/leesoncontentupdate/{idspecialized}/{idsubject}/{idlesson}/{idlessoncontent}"
@using Blazored.Toast.Services
@using FPLSP.Repositories
@using FPLSP.Repositories.Interfaces
@using FPLSP.Server.Domain.Dtos
@using FPLSP.Server.Infrastructure.ViewModels.LessonContentCP
@attribute [Authorize(Roles = "AdminCore,AdminCS")]
@if (lessonContent != null)
{
    <div class="row pt-3">
    <h3 class="ps-0">Cập nhật</h3>
        <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/SpecializedCP">Chuyên ngành</a></li>
        <li class="breadcrumb-item"><a href="/subjects/@idspecialized">@namespecialized</a></li>
        <li class="breadcrumb-item"><a href="/lesson/@idspecialized/@idsubject">@subject.SubjectName</a></li>
        <li class="breadcrumb-item"  aria-current="page"><a href="/lessoncontent/@idspecialized/@idsubject/@idlesson">@nameLesson</a></li>
                <li class="breadcrumb-item active">Cập nhật nội dung bài</li>
    </ol>
</nav>
    @if (ShowAuthError)
    {
        <div class="alert alert-danger" role="alert">
            @Error
        </div>
    }
    <EditForm Model="lessonContent" OnValidSubmit="Update" class="card card-body bg-light mt-1">
        <DataAnnotationsValidator />
        <div class="row" style="text-align:center"><p>Lưu ý: Hãy chọn link trước khi nhập dữ liệu( nếu không có link thì ấn thêm )</p></div>
        <div class="row">
            <div class="col-4">
                <div class="row justify-content-center" style="text-align: center">
                    @if (lessonContent.PathId() != null)
                    {
                        <iframe class="modal-xl" style="text-align:center;height: 371px;width:412px;padding-top: 10px;" src='https://www.youtube.com/embed/@lessonContent.PathId()' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
                    }
                    else
                    {
                        <h5>Video sẽ được hiển thị ở đây</h5>
                    }
                </div>
            </div>
            <div class="col-8">
                <div class="form-group row pt-2">
                    <label for="name" class="col-md-3 col-form-label float-end">Link tài nguyên:</label>
                    <div class="col-md-7">
                        <InputSelect class="form-select" @bind-Value="lessonContent.Path">
                            <option value="">Chọn link tài nguyên</option>
                            @if (lsDtoLink != null)
                            {
                                @foreach (var item in lsDtoLink)
                                {
                                    <option value="@item.Path">@item.ResourcesTitle - @item.Descriptions</option>
                                }
                            }
                        </InputSelect>
                        <div class="text-danger"><ValidationMessage For="@(() => lessonContent.Path)" /></div>

                    </div>
                    <div class="col-md-2" style="text-align:center">
                        <a @onclick="()=>CreateLink()" class="btn btn-success">Thêm Link</a>
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <label for="name" class="col-md-3 col-form-label float-end">Vị trí nội dung bài học:</label>
                    <div class="col-md-9">
                        <InputNumber min=1 max=100 id="name" class="form-control" @bind-Value="lessonContent.Index"></InputNumber>
                        <div class="text-danger"><ValidationMessage For="@(() => lessonContent.Index)" /></div>
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <label for="name" class="col-md-3 col-form-label float-end">Mã nội dung bài học:</label>
                    <div class="col-md-9">
                        <input id="name" class="form-control" value="@lessonContent.LessonContentCode" disabled />
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <label for="name" class="col-md-3 pe-0 col-form-label float-end">Tiêu đề nội dung bài học:</label>
                    <div class="col-md-9">
                        <InputText id="name" class="form-control" @bind-Value="lessonContent.LessonContentName" />
                        <div class="text-danger"><ValidationMessage For="@(() => lessonContent.LessonContentName)" /></div>
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <label for="name" class="col-md-3 col-form-label float-end">Nội dung bài học:</label>
                    <div class="col-md-9">
                        <InputTextArea rows=3 cols=55 id="name" class="form-control" @bind-Value="lessonContent.Content" />
                        <div class="text-danger"><ValidationMessage For="@(() => lessonContent.Content)" /></div>

                    </div>
                </div>
                <div class="form-group row pt-2">
                    <label for="name" class="col-md-3 col-form-label float-end">Mô tả:</label>
                    <div class="col-md-9">
                        <InputText id="name" class="form-control" @bind-Value="lessonContent.Descriptions" />
                        <div class="text-danger"><ValidationMessage For="@(() => lessonContent.Descriptions)" /></div>
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <label for="name" class="col-md-3 col-form-label float-end">Trạng thái:</label>
                    <div class="col-md-9">
                        <InputSelect class="form-select" @bind-Value="lessonContent.Status">
                            <option value="0">Không hoạt động</option>
                            <option value="1">Đang hoạt động</option>
                        </InputSelect>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-center">
                <button type="submit" class="btn btn-success me-2">Update</button>
                <button type="button" class="btn btn-outline-success me-2" @onclick="KhoiPhuc">Khôi Phục</button>
                <a @onclick = "()=>Quaylai()" class="btn btn-danger">Quay Lại</a>
            </div>
            <div class="col-md-4">                
            </div>
        </div>

    </EditForm>

</div>
}
@code {
    [Parameter]
    public string idlessoncontent { get; set; }
    [Parameter]
    public string idlesson { get; set; }

    [Parameter]
    public string idsubject { get; set; }
    [Parameter]
    public string idspecialized { get; set; }
    [Inject]
    public NavigationManager Navigation { get; set; }

    public LessonContentUpdateVM lessonContent;
    public LessonContentUpdateVM UndolessonContent;
    [Inject]
    public ILessonContentCPRepo _iLessonContentClient { get; set; }

    [Inject]
    public IResourceLinkRepo _iResourcelinkClient { get; set; }

    private IEnumerable<ResourceLinkDto> lsDtoLink;
    [Inject] private IToastService _toastService { get; set; }

    [Inject]
    public ILessonCPRepo _iLessonClient { get; set; }
    private LessonDto lesson { get; set; } = new LessonDto();
    private string nameLesson;
    private string codeLesson;
    public SpecializedDto specializedDto { get; set; } = new SpecializedDto();
    string namespecialized { get; set; }
    [Inject]
    public ISpecializedCPRepo _iSpecialized { get; set; }
    private SubjectDto subject { get; set; } = new SubjectDto();

    [Inject]
    public ISubjectClient _iSubjectClient { get; set; }
    protected async override Task OnInitializedAsync()
    {

        specializedDto = await _iSpecialized.GetbyId(Guid.Empty, Guid.Parse(idspecialized));
        namespecialized = specializedDto.SpecializationName;
        subject = await _iSubjectClient.GetSubjectbyId(Guid.Parse(idsubject));
        lesson = await _iLessonClient.GetbyId(Guid.Parse(idlesson));
        nameLesson = lesson.LessonName;
        lsDtoLink = await _iResourcelinkClient.GetAllAsync();
        lesson = await _iLessonClient.GetbyId(Guid.Parse(idlesson));
        var lessonContentdb = await _iLessonContentClient.GetbyId(Guid.Parse(idlessoncontent));
        lessonContent = await _iLessonContentClient.GetbyId(Guid.Parse(idlessoncontent));
        UndolessonContent = lessonContentdb;





    }
    public bool ShowAuthError { get; set; }
    [Parameter]
    public string Error { get; set; }
    private async Task Update()
    {

        var result = await _iLessonContentClient.Update(Guid.Parse(idlessoncontent), lessonContent);
        if (result != 1)
        {
            _toastService.ShowError("lỗi! Vui lòng thử lại");
            var url = Path.Combine("/leesoncontentupdate/" + idspecialized + "/" + idsubject + "/" + idlesson + "/" + idlessoncontent.ToString());
            Navigation.NavigateTo(url);
        }
        else
        {
            _toastService.ShowSuccess("Cập nhật thành công");
            var url = Path.Combine("/lessoncontent", idspecialized, idsubject, idlesson);
            Navigation.NavigateTo(url);
        }
    }
    private async Task Quaylai()
    {
        var url = Path.Combine("/lessoncontent", idspecialized, idsubject, idlesson);
        Navigation.NavigateTo(url);
    }

    private async void KhoiPhuc()
    {
        lessonContent.Content = UndolessonContent.Content;
        lessonContent.LessonContentName = UndolessonContent.LessonContentName;
        lessonContent.LessonContentCode = UndolessonContent.LessonContentCode;
        lessonContent.Descriptions = UndolessonContent.Descriptions;
        lessonContent.Status = UndolessonContent.Status;
        lessonContent.Path = UndolessonContent.Path;
        lessonContent.Index = UndolessonContent.Index;

    }
    private async Task CreateLink()
    {
        var url = Path.Combine("/createresourcelink", idspecialized, idsubject, idlesson);
        Navigation.NavigateTo(url);
    }

}