@using FPLSP.Pages
<Error>
   <AntDesign.AntContainer/>
        <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly" PreferExactMatches="@true">
                <Found Context="routeData">
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                        <NotAuthorized>
                            <Index></Index>
                        </NotAuthorized>
                        <Authorizing>
                            <p>Checking authorization...</p>
                        </Authorizing>
                    </AuthorizeRouteView>
                    <FocusOnNavigate RouteData="@routeData" Selector="h1" />
                </Found>
                <NotFound>
                    <PageTitle>Not found</PageTitle>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p role="alert">Sorry, there's nothing at this address.</p>
                    </LayoutView>
                </NotFound>
            </Router>
        </CascadingAuthenticationState>
   
   
</Error>